include README.md
include LICENSE
include CONTRIBUTING.md
include requirements.txt
include pyproject.toml
recursive-include validata *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
exclude .gitignore
exclude .github
prune tests
prune docs
prune examples
prune sample_data
prune test_reports
prune venv